body {
  text-align: center;
  font-family: Helvetica;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

a {
  color: White;
}

.banner {
  background-image: url("./images/the-flatiron-building.png");
  color: White;
}

#nav {
  font-size: 18px;
}

#copyright {
  font-size: 11px;
  color: White;
  background-color: dimgray;
  text-align: left;
}

#footernav {
  font-size: 14px;
  background-color: inherit;
}
